@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500,600,700,800");

body {
	font-family: "Titillium Web", sans-serif;
	background-color: var(--body-bg);
	color: white;
	text-align: center;
    text-decoration: none
}

img {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none
}

@media only screen and (min-width: 640px) {
	.padding {
		padding-left: 17%;
		padding-right: 17%
	}
}

@media only screen and (max-width: 640px) {
	.padding {
		padding-left: 3%;
		padding-right: 3%
	}
	#head-br {
		display: none
	}
	.social {
		padding-bottom: 2%
	}
}

.head {
	padding-top: 5%;
	margin-left: -10px
}

.head-img-section {
	float: left;
	display: inline-block;
	margin: 10px
}

.head-img {
	width: 150px;
	border-radius: 999%;
	border: 5px solid var(--head-img-bc);
}

.head-text {
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	line-height: 1.1;
}

.head-text-min {
	font-size: 15px;
	font-weight: 300;
	text-align: left
}

.head-text-section {
	float: left;
	display: inline-block;
	margin: 10px
}

.florence-text {
	color: var(--florence-text-color);
	display: inline
}

.florence-text-btn {
	color: var(--florence-text-color);
	display: inline
}

.florence-text-btn:hover {
	color: var(--florence-text-color);
	text-decoration: underline;
}

.navbar-img {
	width: 45px;
    cursor: pointer;
}

.navbar-img-ani:hover {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-7deg)
}

.navbar {
	background-color: var(--navbar-bg);
}

.ver {
	font-size: 18px;
	text-decoration: none;
}

.ver:hover {
	text-decoration: none;
	display: inline;
}

.about-me {
	float: left;
	padding-top: 4%;
}

.about-me-text {
	font-size: 21px;
	font-weight: 500;
	text-align: left;
}

.about-me-text-min {
	font-size: 18px;
	text-align: left
}

.hyperlink {
	background-image: var(--hyperlink-bi);
	background-repeat: no-repeat;
	background-size: 0% .1em;
	background-position: 0 88%;
	transition: background-size .25s ease-in;
	text-decoration: none;
}

.hyperlink:hover {
	text-decoration: none;
	background-size: 100% .1em;
	display: inline;
	color: white
}

.head-text-exp {
	padding-top: 4%;
	font-size: 16px;
	font-weight: normal
}

.soci-bt {
	margin-left: 1px;
	font-size: 31px;
	float: left;
	background-color: transparent;
	border-radius: 5px;
	margin-right: 17px;
	margin-bottom: 8px;
    text-decoration: none;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
}

.soci-bt:hover {
	text-decoration: none;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);  
    -moz-transform: scale(1.2);
    transform: scale(1.2);
	color: unset
}

.active {
	background-image: var(--hyperlink-bi);
	background-repeat: no-repeat;
	background-size: 100% .1em;
	background-position: 0 88%;
	transition: background-size .25s ease-in;
	text-decoration: none;
	color: white
}

.active:hover {
	text-decoration: none;
	display: inline;
	color: white
}

.social {
	float: left;
	padding-top: 4%;
}

.social-text {
	font-size: 21px;
	font-weight: 500;
	text-align: left;
}

.social-text-min {
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	text-overflow: none;
	text-decoration: none;
}

.button {
	float: left;
	display: inline-block;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: .625rem .9375rem;
	transition: all 0.3s
}

.button:hover {
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
}

#listeningSpotify {
	cursor: default
}

::selection {
	background-color: var(--florence-text-color);
}

:root {
    --body-bg: #111827;
    --navbar-bg: #111827;
    --head-img-bc: #1f2937;
    --florence-text-color: #b5b5e7;
    --hyperlink-bi: linear-gradient(120deg, #b5b5e7, #b5b5e7);
    --card-bg: #1f2937
}
