.tippy-box[data-theme~=ws] {
	color: #fff;
	/*box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);*/
	background-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=top]>.tippy-arrow:before {
	border-top-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=left]>.tippy-arrow:before {
	border-left-color: #2d314a
}

.tippy-box[data-theme~=ws][data-placement^=right]>.tippy-arrow:before {
	border-right-color: #2d314a
}

.tippy-box[data-theme~=ws]>.tippy-backdrop {
	background-color: #2d314a
}

.tippy-box[data-theme~=ws]>.tippy-svg-arrow {
	fill: #2d314a
}
